<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a class="navbar-brand" href="#page-top">Bernard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to("我的後台", punch_setting_path, class: "nav-link") %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to("註冊", new_registration_path(User), class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to("登入", new_user_session_path, class: "nav-link") %>
                </li>
              <% end %>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="text-white masthead-heading mb-0">讓你更專注於工作</h1>
            <h2 class="text-white masthead-subheading mb-0">這是你最後一次忘記打卡</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">知道更多</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                  <%= image_tag("check.png", class: "img-fluid rounded-circle") %>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">幹！又忘記打卡</h2>
                    <p>專注於工作的人，忘記打卡是正常的吧！</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                  <%= image_tag("bernard.png", class: "img-fluid rounded-circle") %>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Bernard 將成為你的得力助手</h2>
                    <p>打卡制度是為了困住奴工，bernad 可以幫助你解決不必要的流程，設定好參數從未讓人失望，讓你可以更專注於工作之上！現在已經成功打卡了 <%= PunchSchedule.successed.count %>次</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                  <%= image_tag("hand_phone.png", class: "img-fluid rounded-circle") %>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">萬無一失的預約</h2>
                    <p>自動跳開國定假日，不會讓你在假日也打卡，支援每年度台灣政府公佈之國定假日匯入。</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-black">
    <div class="container px-5"><p class="m-0 text-center text-black small">Copyright &copy; Bernard 2021</p></div>
</footer>